.SearchBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: hsl(209, 23%, 22%);
    height: 10rem;

}

.SearchBar input {
    width: 500px;
    padding: 1.88rem 0;
    border: 4px solid;
    border-radius: 10px;
    margin-bottom: 3.22rem;
    background: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 98%);
    text-align: center;
    font-size: 1rem;
}